@inherits LayoutComponentBase

<main>
    <MudLayout>
        <MudAppBar>
            Công cụ chuyển đổi đơn vị hành chính
        </MudAppBar>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</main>
