@inherits LayoutComponentBase

<main>
    <FluentHeader>
        Công cụ chuyển đổi đơn vị hành chính
    </FluentHeader>
    <FluentBodyContent>
        @Body
    </FluentBodyContent>
    <FluentDialogProvider />
</main>
