<MudStack>
    <MudAlert Severity="Severity.Warning" ShowCloseIcon="false">
        <a>Vui lòng xác nhận các thông tin sau:</a>
        <MudDivider></MudDivider>
        <MudCheckBox @bind-Value="_isBackup" Label="Đã sao lưu cơ sở dữ liệu"></MudCheckBox>
    </MudAlert>
</MudStack>

@code {
    bool _isBackup = false;
}