@using Haihv.Elis.Tool.ChuyenDvhc.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Caching.Memory

@inject IMemoryCache MemoryCache

<MudStack>
    <MudTextField @bind-Value="_serverAddress"
                     Label="Máy chủ cơ sở dữ liệu ELIS SQL" 
                     FullWidth="true">
    </MudTextField>
    <MudTextField @bind-Value="_databaseName"
                     Label="Tên cơ sở dữ liệu"
                     FullWidth="true">
        
    </MudTextField>
    <MudTextField @bind-Value="_userName"
                     Label="Tên đăng nhập" 
                     FullWidth="true">
    </MudTextField>
    <MudTextField @bind-Value="_password"
                     Label="Mật khẩu"
                     InputType="InputType.Password"
                     FullWidth="true">
    </MudTextField>
    <MudCheckBox @bind-Value="_trustedConnection"
                 Dense="true"
                 Label="Sử dụng kết nối an toàn"/>
    <MudButton Disabled="@_processing" OnClick="StartCheckConnectionAsync" Variant="Variant.Filled" Color="Color.Primary">
        @if (_processing)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
            <MudText Class="ms-2">Processing</MudText>
        }
        else
        {
            <MudText>Kiểm tra kết nối</MudText>
        }
    </MudButton>
    @if (_finishChecking)
    {
        <MudAlert Severity="@(IsConnected ? Severity.Success : Severity.Error)" 
                  Dense="true">
            @if (IsConnected)
            {
                <span>Kết nối thành công</span>
            }
            else
            {
                <a>Kết nối thất bại</a>
                <br/>
                <a>@_errorMessage</a>
            }
        </MudAlert>
        @if(IsConnected)
        {
            <MudAlert Severity="Severity.Warning" 
                      Dense="true">
                Vui lòng sao lưu dữ liệu trước khi thực hiện các bước tiếp theo!
            </MudAlert>
        }
    }
    else
    {
        <MudAlert Severity="Severity.Info" 
                  Dense="true">
            Vui lòng thực hiện kiểm tra kết nối trước khi tiếp tục!
        </MudAlert>
    }

</MudStack>

@code {
    bool _processing = false;
    bool _finishChecking = false;
    string _serverAddress = "1.1.1.1";
    string _databaseName = "elis";
    string _userName = "";
    string _password = "";
    [Parameter]
    public bool IsConnected { get; set; }

    [Parameter]
    public EventCallback<bool> IsConnectedChanged { get; set; }
    bool _trustedConnection = true;
    string _errorMessage = string.Empty;
    async Task StartCheckConnectionAsync()
    {
        _processing = true;
        StateHasChanged();
        var connectionString  = $"Server={_serverAddress};" +
                                $"Database={_databaseName};" +
                                $"User Id={_userName};" +
                                $"Password={_password};" +
                                $"TrustServerCertificate={_trustedConnection};";
        try
        {
            await using var context = new ElisDataContext(connectionString);
            await context.Database.OpenConnectionAsync();
            MemoryCache.Set("ConnectionString", connectionString);
            IsConnected = true;
        }
        catch (Exception ex)
        {
            IsConnected = false;
            Console.WriteLine(ex);
            _errorMessage = ex.Message;
        }
        finally
        {
            await IsConnectedChanged.InvokeAsync(IsConnected);
            _processing = false;
            _finishChecking = true;
        }
    }
}